<div id="navHolder">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">IT Blog</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a id="posts" href="#">Posts</a></li>
                    <li><a id="about" href="#about">About</a></li>
                    <li><a id="contact" href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="signIn" href="#signIn"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
                    <li><a id="signUp" href="#signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="contentHolder" class="container">
    <h2>Welcome to the jungle</h2>
</div>

<div id="footerHolder">
    <footer class="blog-footer">
        <h2>// TODO info</h2>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
</div>