<div id="navHolder">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">IT Blog</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="posts"><a href="#posts">Posts</a></li>
                    <li id="about"><a href="#about">About</a></li>
                    <li id="contact"><a href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="signIn"><a href="#signIn"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
                    <li id="signUp"><a href="#signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div id="contentHolder" class="row"></div>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © Your Website 2014</p>
            </div>
        </div>
    </footer>
</div>
