body {
    ont-family: Georgia, "Times New Roman", Times, serif;
    padding-top: 75px;
}

.login-div {
    max-width: 500px;
    margin: auto;
}

.alert-danger {
    background-color: #f2dede;
    border: 1px solid #F44336;
    color: #555;
}